@import "common/foundation/variables";
@import "top-categories";

@import url("https://use.typekit.net/ega1ylg.css");

// set sitewide font to benton sans
html {
  font-family: benton-sans, sans-serif;
  font-weight: 500;
  font-style: normal;
}

// Alternative row colors
tbody {  
  tr:nth-child(odd) {
    background-color: rgba($primary-very-low,0.25);
  }
}

// Header background color
.d-header {
  box-shadow: none;
  .panel .d-header-icons .d-icon {
    color: $primary;
  }

  .d-header-icons .avatar {
    border: 2px solid $primary;
  }
}

// Remove Border on Active Header Icons
.drop-down-mode .d-header-icons .active .icon {
  border-color: transparent;
  background-color: $primary-low;
}

// Drop down menu styling
.menu-panel {
  border: 1px solid $primary-medium;
  border-radius: 8px;
  margin: 10px 0;
}

.d-header-icons .icon:hover, .d-header-icons .icon:focus,
.d-header-icons .icon:active {
  background-color: $secondary;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.2857em;
  height: 2.2857em;
  padding: 0.2143em;
  text-decoration: none;
  cursor: pointer;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  transition: all linear 0.15s;
  outline: none;
}

.drop-down-mode .d-header-icons .active .icon .d-icon {
  color: $primary;
}

// Adjust Active nav pill design
.nav-pills > li a.active {
  background-color: $secondary !important;
  color: $primary;
  font-weight: 700;
  border-bottom: 3px solid black;
  &:hover {
    text-decoration: none;
    border-bottom: 3px solid black;
  }
}
.nav-pills > li a:hover {
  background-color: $secondary !important;
  border-bottom: 3px solid black;
  color: $primary;
}

// create topic button edits 
#create-topic {
  border-radius: 8px;
  font-weight: 700;
  background-color: $success;
  border: 2px solid $primary;
  transition: none;
  box-shadow: 4px 4px 0 $primary;
  svg.d-icon {
    color: $primary;
  }
  &:hover {
    color: $primary;
    box-shadow: 2px 2px 0 $primary;
  }
}

// Primary Button Styling
:not(.d-editor-button-bar) > .btn {
  font-weight: bold;
  border-radius: 8px;
  border: 2px solid $primary;
  transition: none;
  .d-icon {
    transition: none;
  }
  &.btn-primary {
    background-color: $success;
    color: $primary;
    box-shadow: 4px 4px 0 $primary;
    transition: none;
    .d-icon {
      color: $primary;
    }
    &:hover {
      background-color: $success;
      color: $primary;
      box-shadow: 2px 2px 0 $primary;
      .d-icon {
        color: $primary;
      }
    }
  }
}

.close {
  font-size: 1.5157em;
  text-decoration: none;
  cursor: pointer;
  border: none !important;
}

.themes-list-header > .btn {
  border: none !important;
  border-radius: 0px !important;
}

.themes-tab {
  border-right: 1px solid $primary;
}

.admin-customize .themes-list-header {
  border-top: 1px solid $primary;
  border-left: 1px solid $primary;
  border-right: 1px solid $primary;
  border-bottom: none !important;
  .themes-tab {
    border-right: 1px solid black !important;
  }
}

.admin-customize .themes-list-container {
  border: 1px solid $primary !important;
  .themes-list-item {
    border-bottom: 1px solid #e6e6e6;
    border-right: none !important;
    border-left: none !important;
  }
}


// admin dropdown buton categories
.list-controls .select-kit.categories-admin-dropdown button {
  border-radius: 8px;
  font-weight: 700;
  background-color: $success;
  border: 2px solid $primary;
  transition: none;
  box-shadow: 4px 4px 0 $primary;
  svg.d-icon {
    color: $primary;
  }
  &:hover {
    color: $primary;
    box-shadow: 2px 2px 0 $primary;
  }
}


// focus text input edits
input[type="text"]:focus, input[type="password"]:focus,
input[type="datetime"]:focus, input[type="datetime-local"]:focus,
input[type="date"]:focus, input[type="month"]:focus,
input[type="time"]:focus, input[type="week"]:focus,
input[type="number"]:focus, input[type="email"]:focus,
input[type="url"]:focus, input[type="search"]:focus,
input[type="tel"]:focus, input[type="color"]:focus,
textarea:focus {
  border-color: $primary;
  box-shadow: none;
  outline: 0;
}

// Hihglighted row in Select Kit Changes
.select-kit .select-kit-row.is-highlighted {
  background-color: $success-medium;
}

// Modal Header close button
.modal-header .modal-close {
  padding: 2px;
  border: none;
  .d-icon {
    color: $primary-low-mid;
  }
}

// reply area / composer padding
#reply-control .reply-area {
  padding: 5px 15px 15px 15px;
}

// tag notifications button
.tag-notifications-button .btn-default {
  margin-left: 13px;
  border: 2px solid $primary !important;
}

// Unread notifications 
.d-header-icons .unread-notifications {
  background-color: $tertiary;
}

// private messages
.unread-private-messages {
  background-color: $success;
  text-shadow: 1px 2px 6px rgba(0,0,0,1);
}

// new category drop down
.navigation-container .select-kit-body.ember-view {
  transform: translate(-245px, 45px) !important;
  border-radius: 8px !important;
  border: 1px solid $primary;
  overflow: hidden;
}


// TODO
// fix movement on :active transition header icons
//  - small pixel adjusment?